name: Deploy to GitHub Pages

on:
  push:
    branches: [main]

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  call-homepage-workflow:
    uses: ScryptIQ-ai/parchmentIQ/.github/workflows/reusable-homepage-generation.yml@experimental
    secrets:
      PARCHMENT_TOKEN: ${{ github.actor == 'DrAdamLee' && secrets.PARCHMENTIQ_PAT_AL || secrets.PARCHMENTIQ_PAT }}
